### Step 1. Import the necessary libraries

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.