### Step 1. Import the necessary libraries

### Step 2. Create 3 differents Series, each of length 100, as follows:
##### The first a random number from 1 to 4
##### The second a random number from 1 to 3
##### The third a random number from 10,000 to 30,000

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299