### Step 1. Import the necessary libraries

In [40]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
### Step 3. Assign it to a variable called chipo.

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df=pd.read_csv(url, sep='\t')
df

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

### Step 4. See the first 10 entries

In [ ]:
df.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [11]:
df.shape[0]

4622

In [12]:
len(df)

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [13]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [76]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [30]:
df.groupby('item_name')['quantity'].sum('quantity').sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [31]:
df.groupby('item_name')['quantity'].sum('quantity').max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [34]:
df.groupby('choice_description')['quantity'].sum('quantity').sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [35]:
df.groupby('choice_description')['quantity'].sum('quantity').max()

159

### Step 13. Turn the item price into a float
### Step 13.a. Check the item price type

In [47]:
df['item_price'].dtype

dtype('O')

### Step 13.b. Create a lambda function and change the type of item price

In [56]:
df['item_price']=df['item_price'].str.slice(start=1).astype(float)

### **람다 함수로 데이터 타입을 어떻게 바꾸는 지 다시 공부해야 할 것 !**

일단 다음 문제에서 연산을 하기 위해 내가 사용하던 방식으로 바꾸어주었다.

### Step 13.c. Check the item price type

In [61]:
df['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [75]:
revenue = (df['quantity'] * df['item_price']).sum()
print('$'+ str(revenue))

$39237.02

### **df 시리즈도 숫자형컬럼이면 자유롭게 연산이 가능하다.**
와 진짜 너무 편하다.. 이게 되다니 하면서 작성했다.

### Step 15. How many orders were made in the period?

In [79]:
df['order_id'].drop_duplicates().count()

1834

### Step 16. What is the average revenue amount per order?

In [84]:
df.groupby('order_id')['item_price'].sum('item_price').mean()

18.81142857142869

### Step 17. How many different items are sold?